.wrapper {
    backdrop-filter: blur(3px);
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 80px;

    border-bottom: rgba(255, 255, 255, 0.137) solid 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 100px;

    .icon {
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            transition: 0.2s;
            transform: scale(1.15) rotate(-45deg);
        }
    }

    .menu {
        gap: 20px;
        display: flex;

        .dropdown {
            position: relative;
            display: inline-block;

            .item {
                color: inherit;
                background: linear-gradient(
                        to right,
                        rgba(255, 255, 255, 0.1),
                        rgba(255, 255, 255, 0.1)
                    ),
                    linear-gradient(to right, #ed5c66, #f28099);
                background-size: 100% 0.1em, 0 0.1em;
                background-position: 100% 100%, 0 100%;
                background-repeat: no-repeat;
                transition: background-size 400ms;

                font-size: 20px;

                cursor: pointer;

                &:hover,
                &:focus {
                    background-size: 0 0.1em, 100% 0.1em;
                }
            }

            .content {
                display: none;
                position: absolute;
                background-color: #121214;
                border: rgba(255, 255, 255, 0.137) solid 1px;
                padding: 15px 15px;
                z-index: 1;
                border-radius: 10px;

                flex-direction: column;

                * {
                    padding: 20px;
                    cursor: pointer;
                    transition: 0.2s;
                    color: #fff;
                    font-size: 16px;
                    border-radius: 5px;
                }

                *:hover {
                    transition: 0.2s;
                    background-color: rgba(100, 100, 100, 0.13);
                }
            }

            &:hover .content {
                display: flex;
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 605px) {
    .wrapper {
        .menu {
            display: none;
        }
    }
}
