.terminal {
    transition: 0.2s;
    background-color: #2e2e33;
    border-radius: 10px;
    padding: 20px;
    margin: 100px 30%;
    height: 350px;

    &:hover {
        transition: 0.2s;
        box-shadow: 0px 6px 31px 10px #f2809910;
    }
}

@media (max-width: 600px) {
    .terminal {
        margin: 50px 50px;
    }
}

@media (max-width: 1400px) {
    .terminal {
        margin: 50px 30%;
        height: 250px;
    }
}
