body {
    background-color: #121214;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.xterm-viewport::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#ed5c66, #f28099);
    border-radius: 10px;
}
